

// Palatte
$red: #FF3860;
$green: #47ED27;
$yellow: #FFF757;
$blue: #44CBF4;
$black: #171B1B;


// Set your colors
$primary: #19C4B4;
$primary-invert: findColorInvert($primary);

$light: #F1FAEE;
$light-invert: findColorInvert($light);
$danger: $red;


// Links
$link: $primary;
$link-invert: findColorInvert($link);
$link-focus-border: none;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "link": ($link, $green-invert),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);



// Menu

$menu-item-color: $link;
$menu-item-hover-background-color: $link;
$menu-item-hover-color: $white;

// Typography
$family-sans-serif: 'PT Sans', 'Roboto', system-ui, sans-serif;
$family-monospace: 'Space Mono', 'PT Mono', monospace;
$radius: $radius-small;
$family-primary: $family-sans-serif;
$text: $dark;


// Tabs
$tabs-link-color: $link;
$tabs-link-active-border-bottom-color: $text;
$tabs-link-active-color: $text;

// Section
$section-padding: 1.5rem 1.5rem;


// Navbar

$navbar-height: 3.5rem;
$navbar-item-color: $light;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: $black;
$navbar-item-active-color: $link;



//

.router-link-active {
  @extend .is-active;
}
