

// Handle monotype
.mono {
  font-family: $family-monospace;
}

.data--financial{
  font-family: $family-monospace;
}


// Margins

.is-marginless--top {
  margin-top: 0px!important;
}

.icon {
  padding-right: 0.5em;
}

.section {
  padding: 1.5rem;
  margin: 1.5rem 0rem;
  border-top: 1px solid $light;
}
